option_settings:
  aws:elasticbeanstalk:customoption:
    dynamodbTableNameOpt: "Product"
  aws:elasticbeanstalk:application:environment:
    MY_TABLE_ENV_VARIABLE: "Product"

Resources:
  dynamoDBTableRsx:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: 
        Fn::GetOptionSetting: {OptionName: dynamodbTableNameOpt}
      KeySchema:
        HashKeyElement: {AttributeName: Id, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 1, WriteCapacityUnits: 1}
      
Outputs:
  DynamoDBTableArn:
    Description: DynamoDB table ARN
    Value: { "Ref" : "dynamoDBTableRsx" }
    Export:
      Name: dynamoDBTableRsxArn