#################################################################################################
####
#### Executed after the DynamoDB table is created in order to retrieve the ARN.
####
##################################################################################################

option_settings:
aws:elasticbeanstalk:application:environment:
MY_TABLE_ARN_ENV_VARIABLE: '`{"Ref" : "dynamoDBTableRsx"}`'