option_settings:
  aws:elasticbeanstalk:customoption:
    dynamodbTableNameOpt: "Product"
  aws:elasticbeanstalk:application:environment:
    MY_TABLE_ENV_VARIABLE: '`{ "Ref" : "dynamoDBTableRsx" }`'

Resources:
  dynamoDBTableRsx:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: 
        Fn::GetOptionSetting: {OptionName: dynamodbTableNameOpt}
      KeySchema:
        HashKeyElement: {AttributeName: Id, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 1, WriteCapacityUnits: 1}